.btn-outline-primary {
  border-width: 2px;
}

.btn-outline-white {
  color: #fff;
  border-color: #fff;
  border-width: 2px;
  transition: background .2s ease, color .2s ease;
  &:hover {
    background: #fff;
    color: $brand-black;
  }
}

.btn-outline-black {
  color: $brand-black;
  border-color: $brand-black;
  border-width: 2px;
  transition: background .2s ease, color .2s ease;
  &:hover {
    background: $brand-black;
    color: #fff;
  }
}

.btn-blur-dark-bg {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  color: #fff !important;
  border-width: 2px;
  transition: background .2s ease;
  &:hover {
    background: rgba(255, 255, 255, 0.4);
  }
}

.btn-primary {
  background: $brand-blue !important;
  border-color: $brand-blue !important;
  &:hover {
    background: #2258AD !important;
    border-color: #2258AD !important;
    color: #fff !important;
  }
}

.btn-more-sm {
  display: inline-flex;
  color: $brand-black;
  font-weight: 600;
  > div {
    margin-left: 1rem;
    width: 29px;
    height: 24px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: $brand-blue;
    transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  }
  &:hover {
    color: $brand-black;
    > div {
      background-color: #2258AD;
    }
  }
}

.btn-circles {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  .btn {
    z-index: 1;
  }
  .btn-circles-item {
    position: absolute;
    pointer-events: none;
    svg {
      @include img-fluid;
      transition: transform .3s ease;
    }
  }
  &:hover {
    svg {
      @include img-fluid;
      transform: scale(1.1);
    }
  }
}