.hero-sm {
  position: relative;
  text-align: center;
  padding-top: calc(130px + 2rem);
  @include media-breakpoint-down($mobileNavDown) {
    padding-top: calc(80px + 2rem);
  }
  overflow: hidden;
  padding-bottom: 8rem;
}

.hero-sm-bg {
  svg {
    position: absolute;
    left: 50%;
    top: calc(50% - 4rem);
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
    pointer-events: none;
    @include media-breakpoint-down(md) {
      @include img-fluid;
    }
  }
}

.hero-sm-actions {
  display: flex;
  position: relative;
  justify-content: center;
  z-index: 1;
  @include media-breakpoint-down(md) {
    flex-direction: column;
    align-items: center;
    > * {
      align-self: stretch;
      justify-content: center;
    }
  }
  @include media-breakpoint-up(lg) {
    white-space: nowrap;
  }
}

.hero-sm .btn-primary {
  min-width: 270px;
}