.toc {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 21px;
  padding: 2rem 2.25rem;
  .nav-links-item {
    padding: 0;
    height: auto;
    background: none !important;
    >div:nth-child(2) {
      text-overflow: initial;
      white-space: initial;
      text-align: left;
    }
  }
  .nav-links-item-number {
    min-width: 25px;
    margin-right: 1rem;
  }
}

.toc-title {
  @extend .h3;
  margin-bottom: 2rem;
}